<div class="row-fluid" ng-controller="BrowseController" ng-init="init()">
<form>
<div class="span12">
<label for="collection" class="control-label">Collection </label> 
<select name="collection" id="collection" ng-model="selected_museum" ng-options="names.Museum for names in museum_names" class="span3">
</select>
<!-- display data region beginning-->

<!-- display results as thumbnails -->
<ul class="thumbnails span12">
<li class="span4" ng-repeat="object in collections.Objects">
		<div class="thumbnail">
		<a ng-href="#/viewobject/{{object.COId}}">
			<img ng-src="{{object.MediaObjects.Media[0].Media.medium}}" alt="{{object.Object}}" width="auto" height="auto"  class="img-rounded" />
			<h4 class="text-center">{{object.Object}}</h4>
			</a>
		</div>
	</li>		
</ul>
<div class="pagination offset2" ng-show="hidePager($event)"> 
           <ul>
           <li ng-class="{disabled: current_page == 0}">
               <a href ng-click="prevPage()">
                    <i class="icon-arrow-left"></i> Prev</a>
           </li>
           <li ng-class="{disabled: current_page == num_of_pages -1}">
               <a href ng-click="nextPage()">Next 
                    <i class="icon-arrow-right"></i></a>
           </li>
           <li><a href>Pages {{current_page + 1}} of {{num_of_pages}}</a></li>
           </ul>
           
   </div>

</div>
<!-- end of disply records -->
</div>
</form>
</div>