<div ng-controller="BrowseController" ng-init="init()" class="row-fluid">
    <div class="span12">
        <div class="btn-group">
            <button class="btn">Collections</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="names in museum_names">
                    <a preventDefault ng-click="collectionSelect($index)">{{names.Museum}}</a>
                </li>
            </ul>            
        </div><p style="margin-top:30px;" class="text-info" ng-show="!collections.Objects.length">Select a Museum from the above dropdown to browse collections</p>
    </div>
        <div class="marginbottom20"></div>       

        <div ng-show="collections.Objects.length" class="row-fluid">
            <h3 class="sect_header">{{selected_museum.Museum}}</h3>
            <em>{{collections.count}} result(s) found</em>
            <div class="span12">
                <ul class="media-list">
                    <li ng-repeat="object in collections.Objects" class="pull-left marginright20 marginbottom20 paddingbottom10 box" with="auto">
                        <a ng-href="#/viewobject/{{object.COId}}" class="pull-left marginright20">
                            <img ng-src="{{object.MediaObjects[0].Media.small}}" class="media-object" align="top"/>
                            <h4 class="media-heading text-center hidden-phone hidden-tablet">{{object.Object| truncate:40}}</h4>
                        </a>             
                        <div class="media-body hidden-desktop">
                        <ul class="unstyled">
                            <li>
                                <p><strong>Object:</strong> : <a ng-href="#/viewobject/{{object.COId}}">{{object.Object}}</a></p>
                                <p>{{object.Description| truncate: 100}}</p>
                                <p><strong>Accession Number</strong>:{{object.AccessionNumber}}</p>
                                <a ng-href="#/viewobject/{{object.COId}}" class="btn btn-info btn-small">View</a>

                            </li>
                        </ul>
                        </div>

                    </li>                    
                </ul> 
                <div class="row-fluid">
                    <div class="pager span9">
                        <ul>
                            <li class="previous"><button ng-click="prevPage()" class="pull-left btn btn-small btn-primary">Previous</button></li>
                            <li class="next"><button ng-click="nextPage()" class="pull-right btn btn-small btn-primary">Next</button></li>
                        </ul>
                    </div> 
                    <div class="span3"></div>

                </div> 
            </div>

        </div>           
        
    
</div>
