<div ng-controller="BrowseController" ng-init="init()" class="row-fluid">
    <div class="span12 form-inline">
        <form class="form-inline">
            <label for="collection" class="control-label">Collection </label> 
            <select name="collection" id="collection" ng-model="selected_museum" ng-options="names.Museum for names in museum_names" class="span3">
            </select>
        </form>
        <div class="row-fluid">
            <ul class="media-list span12">
                <li ng-repeat="object in collections.Objects" class="pull-left" style="margin-right:20px;">
                    <a ng-href="#/viewobject/{{object.COId}}">
                        <img ng-src="{{object.MediaObjects[0].Media.medium}}" class="media-object"/>
                        <h4 class="media-heading text-center">{{object.Object| truncate:40}}</h4>
                    </a>              
                </li>
            </ul>
            <div class="pagination pagination-large">
                <ul>
                    <li><button ng-click="prevPage()" class="btn  btn-small">
                            <i class="icon-chevron-left"></i></button></li>
                    <li><button ng-click="nextPage()" class="btn  btn-small" type="button">
                            <i class="icon-chevron-right"></i></button></li>
                </ul>
            </div> 
        </div>    
    </div>   

</div>
