<div ng-controller="SearchController" ng-switch="hide_form" class="row-fluid">
    <div class="well-large span12 form-inline" ng-switch-when="false">      
        <div class="input-prepend" >
                <input class="span12 input-xlarge" id="appendedInputButton" type="text" ng-model="search.keywords" placeholder="Enter search" /> 
                <button class="btn btn-primary" ng-click="search_item()" type="button">
                    <i class="icon-search icon-white"></i>              
                </button> 
        </div>
        <div class="marginbottom20 margintop20"></div>
        <tabset>
                    <tab ng-repeat="parameter in search.parameters" id="{{parameter.group}}" heading="{{parameter.group}}" active="parameter.active" disabled="parameter.disabled">
                        <div class="btn-group">       
                            <button ng-click="tickNone($index)" class="btn  btn-default" type="button"><i class="icon-check"></i></button>
                            <button ng-click="tickAll($index)" class="btn btn-default" type="button">
                                <i class="icon-list-alt"></i></button>
                        </div>
                        <ul class="unstyled ">                  
                            <li ng-repeat="item in parameter.items">
                                <input type="checkbox" ng-model="item.checked" class="in-line" /> <label>{{item.name}}</label>
                            </li>
                        </ul>
                    </tab>
                </tabset>           
    </div>
    <div class="row-fluid">
    <div ng-switch-default class="span12">
        <div class="row-fluid">            
            <div class="span12">
                <p><h4>Search result(s)</h4>
            <em>{{search_results.count}} item(s) found</em></p>
                <div class="row-fluid">

                    <!--    Search Form section-->
                    <ul class="media-list span12">
                        <li ng-repeat="object in search_results.data" class="media">
                            <a class="pull-left" ng-href="#/viewobject/{{object.COId}}" class="span2">
                                <img ng-src="{{object.MediaObjects[0].Media.small}}" class="thumbnail"/>
                            </a>
                            <div class="media-body">
                                <h4><a ng-href="#/viewobject/{{object.COId}}">{{object.Object}}</a></h4>
                                <p><strong>Accession Number:</strong> {{object.AccessionNumber}}</p>
                                <p><Strong>Museum:</Strong> {{object.Museum}}</p>
                                <p>{{object.Description| truncate:150}}</p>
                                <p><a href="#/viewobject/{{object.COId}}">More...</a>
                            </div>                            
                        </li>                 
                    </ul> 

                    <div class="pagination pagination-large">
                        <ul>
                            <li><button ng-click="prevPage()" class="btn  btn-small">
                                    <i class="icon-chevron-left"></i></button></li>
                            <li><button ng-click="nextPage()" class="btn  btn-small" type="button">
                                    <i class="icon-chevron-right"></i></button></li>
                        </ul>
                    </div> 
                </div>
            </div>

        </div>
    </div>  
    </div>

</div>

