<ul class="objectInfo unstyled">
<li><strong>Object</strong> - {{object_info.Object}}</li>
<li><strong>Materials</strong> - {{object_info.Materials}}</li>
<li><strong>Culture Group</strong> - {{object_info.CultureGroup}}</li>
<li><strong>Dimensions</strong> - {{object_info.Dimensions}}</li>
<li><strong>Production Date</strong> - {{object_info.ProductionDate}}</li>
<li><strong>Associated Places</strong> - {{object_info.AssociatedPlaces}}</li>
<li><strong>Associated People</strong> - {{object_info.AssociatedPeople}}</li>
<li><strong>Museum</strong> - {{object_info.Museum}}</li>
<li><strong>Accession Number</strong> - {{object_info.AccessionNumber}}</li>
</ul>
